body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: lightblue;
    font-size: 0.85rem; 
}
p {
    color: white;
    height: 0.85rem;
}
.objective {
    padding-bottom: 15px;
}
.content {
    background-color: #6688bb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    height: 250px;
    width: 350px;
    border-radius: 35px;
}
.buttons {
    gap: 25px;
    display: flex;
    justify-content: space-around;
}
button {    
    font-family: inherit;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #222255;
    color: white;
}
button:hover {
    background-color: white;
    color: #222255;
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px 20px 10px;
}
.winner {
    font-weight: bold;
    padding-bottom: 15px;
    color: #222255;
}