body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: Roboto, sans-serif;
    background-color: lightblue;
    font-size: 1rem; 
}
img {
    width: 175px;
}
p {
    color: white;
    height: 1rem;
}
.objective {
    padding-bottom: 25px;
    font-weight: bold;
}
.content {
    background-color: #6688bb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    width: 350px;
    height: 300px;
    border-radius: 35px;
    gap: 10px;
}
.buttons {
    gap: 25px;
    display: flex;
    justify-content: space-around;
}
button {    
    font-family: inherit;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #222255;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: white;
    color: #222255;
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px 20px 10px;
}
h3 {
    color: white;
    font-size: 1.2rem;
}
.score {
    margin-top: 30px;
    font-weight: bold;
    color: #222255;
    font-size: 1.2rem;
}